.result-list{
    width: 840px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
}
.result-list__divider{
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: block;
}
