.result-map{
    flex: 1 1 auto;
}

.leaflet-container{
    height: 100%;
    width: 100%;
    z-index: 0;
}

.leaflet-popup-content-wrapper {
    width: 500px;
    border-radius: 0;
    position: relative;
}