.result-list{
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 10px;
    box-sizing: border-box;
}
.result-list__divider{
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: block;
}

@media (min-width: 1128px){
    .result-list{
        width: 58vw;
    }
}

@media (min-width: 1440px){
    .result-list{
        width: 840px;
    }
}
