.Button_link{
  border-radius :21px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  height: 37px;
  color: white;
  background-color : rgb(194, 46, 207);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
  }
}