.modale__container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: 525px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.modale__container__facture{
    align-items: flex-end;
}