.btn-search{
    height: 48px;
    min-width: 48px;
    border-radius: 24px;
    background-color: #FF385C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;

    flex: 0 0 auto;

}
.btn-search-text{
    padding:0 4px 0 8px;
    font-weight: bold;
    font-size: 14px;

}

.btn-search:hover{
    background-color: #DC0F62;
}