.search-bar-panel {
    border-radius: 32px;
    background-color: white;
    position: absolute;
    margin-top: 12px;
    overflow: hidden;
    top: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 20px;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;
}
.search-bar-panel:empty{
    padding: 0;
}

.align-panel-right{
    right: 0;
}

.search-bar-panel-start-date{
    right: 0;
    transform: translateX(50%);
}
.search-bar-panel-end-date{
    left: 0;
    transform: translateX(-50%);
}
.button input {
    border: none;
    background:none;
    outline: none;
}
.placeholder{
    font-weight: normal;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
}
.button{
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 32px 14px 32px;
    box-sizing: border-box;
    flex: 1 0 0;
}

.button > div {
    /*z-index: 5;*/
    position: absolute;
}


.button:hover:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 32px;
    background-color: rgb(235,235,235);
}

.selected-field:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 20px;
}

.selected-field:hover:before{
    background-color: white;
}