.cguUl {
    display: flex;
    padding-inline-start: unset;
}

.cguLi:after {
    content: "·";
    padding: 0 6px 0 6px;
}

.cguLi:last-child:after {
    all: unset;
}

.cguLi a {
    text-decoration: none;
    color: black;
}

.cguLi a:hover {
    text-decoration: underline;
    color: black;
}