.containerLink{
    box-sizing: border-box; 
}
.containerLink ul{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    padding-left: 0;
    margin-block-start: unset;
}
.containerLink li{
    list-style-type: none;
    margin-top: 16px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1112px){
  .containerLink ul{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 744px){
    .containerLink ul{
        grid-template-columns: 1fr;  
    }
}