.containerLink{
    box-sizing: border-box; 
}
.containerLink ul{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
    padding-left: 0px;
}
.containerLink li{
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1112px){
  .containerLink ul{
      grid-template-columns: repeat(3, 1fr);
  }
}
