
.thelittlefooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid rgb(221,221,221);
}


.thelittlefooter li{
    text-decoration: none;
    display: flex; /* propriété du <li> de LinkList.css */
    list-style-type: none; /* propriété du <li> de LinkList.css */
    justify-content: left; /* propriété du <li> de LinkList.css */
}