footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    
}

.resection{
    display: flex;
    justify-content: space-around;
    
}


@media screen and (max-width: 1000px){
    .resection{
    max-width: 100%;
    flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .resection{
        
        flex-direction: column;
    }
}