.containerLink{
    display: inline-block;
    box-sizing: border-box;
}

.thefooter li{
    display: flex;
    list-style-type: none;
    justify-content: left;
}

.link {
    text-decoration: none;
    color: black;
}

