.RoomTitle{
    display: flex;
}
.RoomPage__title-container{
    flex: 0 1 100%;
}
.RoomTitle__title{
    margin-bottom: 8px!important;
}
.RoomTitle__subtitle{
    margin: 0;
    padding: 0;
}
.RoomTitle__subtitle-item{
    display: inline-block;
}

.RoomTitle__subtitle-item:after {
    content: "·";
    padding: 0 4px 0 4px;
}

.RoomTitle__subtitle-item:last-child:after {
    all: unset;
}
.RoomTitle__host-picture{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: grey;
    margin-left: 16px;
    flex-shrink: 0;
    min-width: 56px;
}