.RoomReservationBox {
    width: 100%;
    padding: 24px;
    margin-top: 48px;
    border-radius: 12px;
    border: 1px solid var(--airbnb-separator-grey);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
    position: sticky;
    top: calc(80px + 48px);
}

.RoomReservationBox__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row wrap;
    margin-bottom: 24px;
}

.RoomReservationBox__title {
    font-size: 22px;
}

.RoomReservationBox__night-price {
    font-size: 22px;
}

.RoomReservationBox__comments {
    font-size: 14px;
    margin-top: 8px;
}

.RoomReservationBox__fields {
    margin-bottom: 16px;
}

.RoomReservationBox__dates, .RoomReservationBox__guests {
    border: 1px solid rgb(176, 176, 176);
    width: 100%;
    background: none;
    z-index: 5;
}

.RoomReservationBox__dates {
    position: relative;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.RoomReservationBox__dates-container {
    display: flex;
}

.RoomReservationBox__dates-separator {
    border-right: 1px solid rgb(176, 176, 176);
    min-height: 100%;
    width: 1px;
    box-sizing: border-box;
}

.RoomReservationBox__guests {
    border-radius: 0 0 8px 8px;
    position: relative;

}

.RoomReservationBox__button {

}

.RoomReservationBoxField {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.RoomReservationBoxField__label {
    font-size: 10px;
    text-transform: uppercase;

}

.RoomReservationBoxField__label--disabled {
    pointer-events: none;
}

.RoomReservationBoxField__value {
    padding-top: 4px;
    font-size: 14px;
}

.RoomReservationBoxField__input {
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
}

.RoomReservationBoxField__input--grey {
    color: rgb(113, 113, 113);
}

.RoomReservationBox__field-button {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    appearance: none;
    text-align: unset;
    cursor: pointer;
}

.RoomReservationBox__field-button:focus {
    outline: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}

.RoomReservationBox__guests-panel{
    padding: 16px;
    border-radius: 8px;
    width: 323px;
    margin-top: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 6px, rgba(0, 0, 0, 0.07) 0 0 0 1px !important;
}