.room-page__header{
    padding-top: 24px;
}

.room-page__header-title{
    font-size: 26px;
}

.room-page__header-subtitle-container{
    margin-top: 8px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.room-page__header-subtitle-left{
    display: flex;
}

.room-page__header-subtitle-rating{
    margin-left: 8px;
    margin-right: 8px;
    color: var(--airbnb-text-grey);
}

.room-page__header-subtitle-separator{
    margin-left: 8px;
    margin-right: 8px;
    color: var(--airbnb-text-grey);
}

.room-page__header-subtitle-location{
    color: var(--airbnb-text-grey);
}

.room-page__header-subtitle-right{
    display: flex;
}

.room-page__header-subtitle-button{
    all:unset;
    display: flex;
    cursor: pointer;
    padding: 8px;
    text-decoration: underline;
    align-items: center;
    gap: 6px;
}

.room-page__header-subtitle-button:hover{
    border-radius: 8px;
    background-color: var(--airbnb-background-light-grey);
}

.room-page__header-subtitle-button:active{
    border-radius: 8px;
    background-color: var(--airbnb-background-light-grey);
    transform: scale(0.96);

}

.room-page__header-subtitle-button-icon{
    width: 14px;
    height: 14px;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}