.RoomHeader{
    padding-top: 24px;
}

.RoomHeader__title{
    font-size: 26px;
}

.RoomHeader__subtitle-container{
    margin-top: 8px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.RoomHeader__subtitle-left{
    display: flex;
}

.RoomHeader__rating{
    margin-left: 8px;
    margin-right: 8px;
    color: var(--airbnb-text-grey);
}

.RoomHeader__separator{
    margin-left: 8px;
    margin-right: 8px;
    color: var(--airbnb-text-grey);
}

.RoomHeader__location{
    color: var(--airbnb-text-grey);
}

.RoomHeader__subtitle-right{
    display: flex;
}

.RoomHeader__button{
    all:unset;
    display: flex;
    cursor: pointer;
    padding: 8px;
    text-decoration: underline;
    align-items: center;
    gap: 6px;
}

.RoomHeader__button:hover{
    border-radius: 8px;
    background-color: var(--airbnb-background-light-grey);
}

.RoomHeader__button:active{
    border-radius: 8px;
    background-color: var(--airbnb-background-light-grey);
    transform: scale(0.96);

}

.RoomHeader__icon{
    width: 14px;
    height: 14px;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}