.header-profile-menu{
  background: rgb(255, 255, 255) none repeat scroll 0 0 !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 16px !important;
  color: rgb(34, 34, 34) !important;
  margin-top: 34px !important;
  padding: 6px 12px !important;
  position: absolute !important;
  top: 50% !important;
  right: 0 !important;
  max-height: calc(-100px + 100vh) !important;
  overflow-y: auto !important;
  z-index: 2 !important;
  min-width: 240px !important;
  display: block !important;
  border-radius: 10px !important;
}

.header-profile-menu-button {
  svg{
    height: 20px;
    width: 20px;
  }
  padding: 7px 12px 7px 12px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  appearance: none;
  cursor: pointer;
  background-color: white;
  border-radius: 21px;
  gap:10px;
  border: 1px solid var(--airbnb-separator-grey);
}
.header-profile-menu-parent-button {
  display: flex;
  align-items: center;
  position: relative;
}

.header-profile-menu__item{
  padding: 10px 0 10px 0;
  cursor: pointer;
  position: relative;
  &:hover:after{
    position: absolute;
    top:0;
    right:-12px;
    bottom: 0;
    left: -12px;
    content: "";
    background-color: rgb(235,235,235);
    z-index: -1;
  }
}